@import '@/assets/css/tailwind.css';
@import 'leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,900;1,100;1,400&display=swap');
@import '@/assets/css/leaflet.scss';
@import '@/assets/css/webkit.scss';

* {
  box-sizing: content-box;
}

body {
  background-color: #f5f7fb;
  @apply font-main;
  @apply dark:bg-slate-900;
  @apply dark:text-slate-400;
}

.dark {
  color-scheme: dark;
}
