@import '@/assets/css/tailwind.css';
@import 'leaflet/dist/leaflet.css';
@import '@/assets/css/leaflet.scss';
@import '@/assets/css/webkit.scss';

* {
  box-sizing: content-box;
}

body {
  background-color: #f5f7fb;
  @apply font-main;
  @apply dark:bg-slate-900;
  @apply dark:text-slate-400;
}

.dark {
  color-scheme: dark;
}
