:root {
  --tp-primary: rgb(0, 0, 0);
  --tp-primary-content: rgb(255, 255, 255);

  --tp-secondary: rgb(3, 105, 161);
  --tp-secondary-content: rgb(255, 255, 255);
  --tp-secondary-on-dark: rgb(56, 189, 248);

  --tp-success: rgb(34, 197, 94);
  --tp-warning: rgb(245, 158, 11);
  --tp-danger: rgb(239, 68, 68);

  --tp-base-foreground: rgb(255, 255, 255);
  --tp-base-background: rgb(245, 247, 251);
  --tp-base-muted: rgb(226, 232, 240);
  --tp-base-soft: rgb(107, 114, 128);
  --tp-base-lighter: rgb(55, 65, 81);
  --tp-base-border: rgb(203, 213, 225);
  --tp-base-content: rgb(0, 0, 0);

  --tp-map-georeference: rgb(239, 68, 68);
  --tp-map-aggregate: rgb(3, 115, 22);
  --tp-map-asserted: rgb(249, 115, 22);
  --tp-map-asserted-absent: rgb(106, 81, 163);
  --tp-map-type-material: rgb(51, 136, 255);
  --tp-map-collection-object: rgb(239, 68, 68);
  --tp-map-field-occurrence: rgb(49, 163, 84);

  --tp-scrollbar-thumb: rgb(156, 163, 175);
  --tp-scrollbar-track: rgb(229, 231, 235);

  --tp-map-shape-opacity: 0.5;
  --tp-map-marker-opacity: 0.75;
}

.dark {
  --tp-primary: rgb(23, 23, 23);
  --tp-primary-content: rgb(255, 255, 255);

  --tp-secondary: rgb(14, 165, 233);
  --tp-secondary-content: rgb(255, 255, 255);
  --tp-secondary-on-dark: rgb(14, 165, 233);

  --tp-success: rgb(22, 163, 74);
  --tp-warning: rgb(217, 119, 6);
  --tp-danger: rgb(185, 28, 28);

  --tp-base-background: rgb(23, 23, 23);
  --tp-base-foreground: rgb(38, 38, 38);
  --tp-base-muted: rgb(48, 48, 48);
  --tp-base-soft: rgb(200, 200, 200);
  --tp-base-lighter: rgb(220, 220, 220);
  --tp-base-border: rgb(70, 70, 70);
  --tp-base-content: rgb(255, 255, 255);

  --tp-scrollbar-thumb: rgb(156, 163, 175);
  --tp-scrollbar-track: rgb(55, 65, 81);
}
