:root {
  --color-map-shape-opacity: 0.5;
  --color-map-marker-opacity: 0.75;
}

@theme {
  --font-roboto: 'Roboto', 'sans-serif';

  --color-primary: rgba(0, 0, 0);
  --color-primary-content: rgba(255, 255, 255);

  --color-secondary: rgba(14, 165, 233);
  --color-secondary-content: rgba(255, 255, 255);

  --color-success: rgb(34, 197, 94);
  --color-warning: rgb(245, 158, 11);
  --color-danger: rgb(239, 68, 68);

  --color-base-foreground: rgb(255, 255, 255);
  --color-base-background: rgb(245, 247, 251);
  --color-base-muted: rgb(226, 232, 240);
  --color-base-soft: rgb(156, 163, 175);
  --color-base-lighter: rgb(55, 65, 81);
  --color-base-border: rgb(203, 213, 225);
  --color-base-content: rgb(0, 0, 0);

  --color-map-georeference: rgb(239, 68, 68);
  --color-map-aggregate: rgb(3, 115, 22);
  --color-map-asserted: rgb(249, 115, 22);
  --color-map-type-material: rgb(51, 136, 255);
  --color-map-collection-object: rgb(239, 68, 68);

  --color-scrollbar-thumb: rgb(156, 163, 175);
  --color-scrollbar-track: rgb(229, 231, 235);
}

.dark {
  --color-primary: rgb(23, 23, 23);
  --color-primary-content: rgb(255, 255, 255);

  --color-secondary: rgb(14, 165, 233);
  --color-secondary-content: rgb(255, 255, 255);

  --color-success: rgb(22, 163, 74);
  --color-warning: rgb(217, 119, 6);
  --color-danger: rgb(185, 28, 28);

  --color-base-background: rgb(23, 23, 23);
  --color-base-foreground: rgb(38, 38, 38);
  --color-base-muted: rgb(48, 48, 48);
  --color-base-soft: rgb(200, 200, 200);
  --color-base-lighter: rgb(220, 220, 220);
  --color-base-border: rgb(70, 70, 70);
  --color-base-content: rgb(255, 255, 255);

  --color-scrollbar-thumb: rgb(156, 163, 175);
  --color-scrollbar-track: rgb(55, 65, 81);
}
