:root {
  --color-primary: 0, 0, 0;
  --color-primary-content: 255, 255, 255;

  --color-secondary: 14, 165, 233;
  --color-secondary-content: 255, 255, 255;

  --color-success: 34, 197, 94;
  --color-warning: 245, 158, 11;
  --color-danger: 239, 68, 68;

  --color-base-foreground: 255, 255, 255;
  --color-base-background: 245, 247, 251;
  --color-base-muted: 226, 232, 240;
  --color-base-soft: 156, 163, 175;
  --color-base-lighter: 55, 65, 81;
  --color-base-border: 203, 213, 225;
  --color-base-content: 0, 0, 0;

  --color-map-georeference: 239, 68, 68;
  --color-map-aggregate: 3, 115, 22;
  --color-map-asserted: 249, 115, 22;
  --color-map-type-material: 51, 136, 255;
  --color-map-collection-object: 239, 68, 68;

  --color-scrollbar-thumb: 156, 163, 175;
  --color-scrollbar-track: 229, 231, 235;

  --color-map-shape-opacity: 0.5;
  --color-map-marker-opacity: 0.75;
}

.dark {
  --color-primary: 23, 23, 23;
  --color-primary-content: 255, 255, 255;

  --color-secondary: 14, 165, 233;
  --color-secondary-content: 255, 255, 255;

  --color-success: 22, 163, 74;
  --color-warning: 217, 119, 6;
  --color-danger: 185, 28, 28;

  --color-base-background: 23, 23, 23;
  --color-base-foreground: 38, 38, 38;
  --color-base-muted: 48, 48, 48;
  --color-base-soft: 200, 200, 200;
  --color-base-lighter: 220, 220, 220;
  --color-base-border: 70, 70, 70;
  --color-base-content: 255, 255, 255;

  --color-scrollbar-thumb: 156, 163, 175;
  --color-scrollbar-track: 55, 65, 81;
}
