::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

::-webkit-scrollbar-corner {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-gray-300;
  @apply dark:bg-slate-600;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
  @apply dark:bg-slate-700;
}