@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-main: 'Roboto', sans-serif;

  --color-primary-color: rgb(0, 0, 0);
  --color-primary-content: rgb(255, 255, 255);
  --color-secondary-color: rgb(3, 105, 161);
  --color-secondary-content: rgb(255, 255, 255);
  --color-success: rgb(34, 197, 94);
  --color-warning: rgb(245, 158, 11);
  --color-danger: rgb(239, 68, 68);
  --color-base-foreground: rgb(255, 255, 255);
  --color-base-background: rgb(245, 247, 251);
  --color-base-muted: rgb(226, 232, 240);
  --color-base-soft: rgb(107, 114, 128);
  --color-base-lighter: rgb(55, 65, 81);
  --color-base-border: rgb(203, 213, 225);
  --color-base-content: rgb(0, 0, 0);
}

:root {
  --sidebar-width: 240px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.tp-card {
  box-shadow: rgba(30, 41, 59, 0.04) 0 2px 4px 0;
  border: 1px solid rgba(98, 105, 118, 0.16);
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out,
    box-shadow 0.3s ease-out;
}
